<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form action="/addAlbum" method="post">
    <div>
        <label>Input The Title : <input  type="text" name="title" required="required"/></label>
        <br/><label>Input the Artist : <input type="text" name="artist" required="required"/></label>
        <br/><label>Song count : <input type="number" name="songCount" required="required"/></label>
        <br/><label>Input the length : <input type="number" name="length" required="required"/></label>
        <br/><label>Input of Image Url : <input  type="text" name="imageUrl" required="required"/></label>
        <br/><input type="submit" value="Add new data">
    </div>
</form>
</body>
</html>