<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>$Title$</title>
</head>
<body>
  <div th:each="song : ${songs}">
    <div>
      <h1 th:text="'Song Title : ' + ${song.getTitle()}"></h1>
      <h2 th:text="'Song Length : ' + ${song.getLength()}"></h2>
      <h2 th:text="'Song Track Number : ' + ${song.getTrackNumber()}"></h2>
    </div>
  </div>


  <form th:action="@{'/songs/'+${id}}" method="post">
    <div>
      <br/><input type="text" name="title" class="form-control" placeholder="Song Title" />
      <br/><input type="number" name="length" class="form-control" placeholder="Song Length(seconds)"/>
      <br/><input type="number" name="trackNumber" class="form-control" placeholder="Track Number" />
      <br/><input type="submit" value="ADD Song" class="btn btn-primary"  /><br/>
    </div>
  </form>
</body>
</html>